#hero {
  position: relative;
  overflow: hidden;
}

.hero {
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);

  &__background {
    position: relative;
    z-index: 1;
  }

  &__background,
  &__picture,
  .swiper {
    height: 100%;
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;

    width: 100%;

    transform: translateY(-50%);
  }

  &__title {
    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 35px;
      font-size: 96px;
    }

    margin-bottom: 45px;

    font-size: 150px;

    line-height: 0.5;

    text-transform: uppercase;

    span {
      @include breakpoint($breakpoint-laptop--large) {
        font-size: 38px;
      }

      font-size: 58px;
    }
  }

  &__desc {
    @include breakpoint($breakpoint-laptop--large) {
      font-size: 20px;
    }

    font-size: 28px;
  }

  &__nav {
    position: absolute;
    top: -25%;
    right: 10px;
  }

  &__image {
    object-position: top;
  }
}
