.input {
  position: relative;

  &--error {
    .input__field {
      border-color: #e64747;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    @include breakpoint($breakpoint-mobile--large) {
      padding: 15px 20px;
    }

    @include border($palette-white);

    width: 100%;
    padding: 20px 25px;

    outline: none;

    background-color: transparent;
    color: #e0e0e0;

    font-weight: $weight-Light;
    font-size: $font-size__text--regular;
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 15px;

    width: 26px;
    height: 26px;

    opacity: 0;
    visibility: hidden;

    cursor: help;
    transform: translateY(-50%);

    transition: 0.2s ease;
  }
}
