.card {
  position: relative;

  &--clickable {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        .image {
          transform: scale(1.05);
        }
      }
    }
  }

  &--active {
    .card__picture {
      padding: 3px;
      box-shadow: 0 0 0 3px #f3f3f3 inset;
    }

    .image {
      transform: none !important;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-laptop--large) {
      height: 360px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 310px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 270px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      height: 320px;
    }

    overflow: hidden;
    height: 380px;

    margin-bottom: 24px;

    transition: $transition ease;

    img {
      transition: $transition ease;
    }
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: 18px;
    }

    display: -webkit-box;
    overflow: hidden;

    min-height: 60px;
    margin-bottom: 24px;

    font-size: 24px;
    line-height: 1.25;

    text-align: center;
    text-transform: uppercase;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__description {
    font-weight: $weight-Light;
    font-size: $font-size__text--regular;
  }
}
