.card {
  position: relative;

  &--clickable {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        .image {
          transform: scale(1.05);
        }
      }
    }
  }

  &--active {
    .card__picture {
      padding: 3px;
      box-shadow: 0 0 0 3px #f3f3f3 inset;
    }

    .image {
      transform: none !important;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-laptop) {
      height: 320px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 240px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      height: 320px;
    }

    overflow: hidden;
    height: 410px;

    margin-bottom: 24px;

    transition: $transition ease;

    img {
      transition: $transition ease;
    }
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      height: 40px;
      font-size: 18px;
    }

    height: 52px;
    margin-bottom: 24px;

    font-size: 24px;

    line-height: 1.1;

    text-transform: uppercase;
  }

  &__description {
    font-weight: $weight-Light;
    font-size: $font-size__text--regular;
  }
}
