// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  @include breakpoint($breakpoint-tablet) {
    padding-top: 30px;
  }

  padding-bottom: 30px;
}

.footer {
  @include breakpoint($breakpoint-mobile--large) {
    flex-direction: column;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > *:not(:last-child) {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 20px;
    }
  }

  &__logo {
    @include breakpoint($breakpoint-tablet) {
      margin-right: 0;
    }

    margin-right: 70px;
  }

  &__callback .callback {
    font-size: 24px;
  }

  &__social {
    @include breakpoint($breakpoint-tablet--large) {
      width: 50%;
      margin: 40px 0 0 !important;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-left: 0;
    }

    @include breakpoint($breakpoint-mobile--large) {
      width: initial;
      margin: 15px 0 0 !important;
    }

    margin-left: 70px;

    img {
      @include breakpoint($breakpoint-tablet) {
        width: 42px;
      }
    }
  }
}
