// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  padding-bottom: 30px;
}

.footer {
  @include breakpoint($breakpoint-tablet) {
    flex-direction: column;
  }

  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 20px;
    }
  }

  &__copyright {
    @include breakpoint($breakpoint-tablet) {
      margin-right: 0;
    }

    margin-right: 70px;
  }

  &__social {
    @include breakpoint($breakpoint-tablet) {
      margin-left: 0;
    }

    margin-left: auto;
  }
}
