// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  @include breakpoint($breakpoint-tablet--large) {
    background-color: transparent;
  }

  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $palette-black;
  transition: 0.3s ease;
}

.header {
  display: flex;
  align-items: center;

  padding: 20px 0;

  &-background {
    background-color: $palette-black !important;
    box-shadow: 0 3px 1px rgba(#000000, 0.028), 0 1px 4px rgba(#000000, 0.042);
  }

  &__logo {
    margin-right: 60px;
  }

  &__contact {
    margin-right: 60px;
    margin-left: auto;
  }

  &__callback {
  }

  &__action {
    margin-left: auto;
  }
}
