// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $palette-black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}
