.mobile-menu {
  position: absolute;
  z-index: 40;
  top: 100%;
  left: 0;

  width: 100%;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease;

  &__wrapper {
    overflow: auto;

    width: 100%;
    height: calc(100vh - var(--header-height));

    padding-top: 16px;
    padding-bottom: 48px;

    background-color: $palette-black;
    font-weight: $weight-Medium;
  }

  &__content {
    display: flex;
    flex-direction: column;

    width: 60%;
    height: 100%;

    margin: 0 auto;
  }

  &__nav {
    margin-bottom: 45px;
  }

  &__callback {
    margin-top: auto;
  }

  &--open {
    opacity: 1;
    visibility: visible;
  }
}
