// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
  }

  &__item {
  }

  &__link {
  }

  &--mobile {
    .nav__item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    .nav__link {
      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--regular + 2px;
      }

      padding: 10px 0;
      font-size: $font-size__text--big;

      transition: $transition ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
