// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
  }

  &__item {
  }

  &__link {
  }

  &--hero {
    .nav__item {
      display: flex;

      transform-origin: left center;
      transition: transform $transition ease;

      @media (hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }

    .nav__link {
      width: 100%;
      font-size: 20px;
    }
  }
}
