// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
  }

  &__item {
  }

  &__link {
  }

  &--mobile {
    .nav__item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    .nav__link {
      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--regular + 2px;
      }

      font-size: $font-size__text--big;
    }
  }
}
