.service-item {
  &__content {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 26px;

    text-transform: uppercase;
  }

  &__action {
    @include breakpoint($breakpoint-tablet--large) {
      flex-direction: column;
    }

    margin-top: auto;

    .button {
      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--regular;
      }

      font-weight: $weight-Regular;
      font-size: 20px;
    }
  }
}
