.service-item {
  &__form {
    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 100px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-top: 50px;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-laptop) {
      height: 510px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      position: sticky;
      top: calc(20px + var(--header-height));

      height: 350px;
    }

    @include breakpoint($breakpoint-tablet) {
      max-width: 360px;
      margin-bottom: 40px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 75px;
    }

    height: 560px;
  }

  &__content {
    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 0;
    }

    display: flex;
    flex-direction: column;

    margin-top: 20px;
    margin-bottom: 20px;

    p {
      text-indent: 30px;
    }
  }

  &__title {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 25px;
      font-size: 18px;
    }

    margin-bottom: 40px;
    font-size: 24px;

    text-align: center;
    text-transform: uppercase;
  }

  &__action {
    @include breakpoint($breakpoint-tablet--large) {
      flex-direction: column;
    }

    margin-top: auto;

    .button {
      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--regular;
      }

      font-weight: $weight-Regular;
      font-size: 20px;
    }
  }
}
