.modal-callback {
  .modal__content {
    @include breakpoint($breakpoint-mobile--large) {
      padding: 45px 15px 15px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px;
  }

  .modal__form {
    width: 100%;
  }

  .form__info {
    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 15px;
    }
  }
}
