$transition-time: 0.2s;

.modal {
  &__overlay {
    @include breakpoint($breakpoint-mobile--large) {
      align-items: flex-end;
    }

    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(#000000, 0.7);
  }

  &__container {
    @include breakpoint($breakpoint-mobile--large) {
      width: 95%;

      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    position: relative;

    width: 100%;
    max-width: 540px;

    border-radius: 10px;

    background-color: $palette-black;
  }

  &__header {
  }

  &__title {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: 21px;
    }

    margin-bottom: 12px;

    font-size: $font-size__title--small;

    text-align: center;
    text-transform: uppercase;
  }

  &__close {
    @include breakpoint($breakpoint-mobile--large) {
      top: 20px;
      right: 20px;

      width: 18px;
      height: 18px;
    }

    position: absolute;
    z-index: 3;
    top: 25px;
    right: 25px;

    width: 24px;
    height: 24px;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    transition: opacity 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    &::before {
      content: url("../img/icons/control/modal__close.svg");
    }
  }

  &__content {
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: fade-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: fade-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}
