.blog-item {
  .row {
    &:not(:last-child) {
      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 70px;
      }

      margin-bottom: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    margin-top: 20px;

    p {
      text-indent: 30px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 26px;

    text-align: center;
    text-transform: uppercase;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      max-width: 360px;
      height: 350px;

      margin-right: auto;
      margin-bottom: 64px;
      margin-left: auto;
    }
  }
}
