// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.position-sticky {
  top: calc(20px + var(--header-height));
}

.content-collapse {
  max-height: 2500px;
  transition: 0.5s ease;

  &--hidden {
    overflow: hidden;
    max-height: 0;

    margin-top: 0 !important;
    opacity: 0;
  }

  &__close {
    @include breakpoint($breakpoint-tablet--large) {
      top: 10px;
      right: -25px;
    }

    @include breakpoint($breakpoint-tablet) {
      top: 370px;
      right: 16px;

      width: 48px;
    }

    position: absolute;
    z-index: 5;
    top: 5px;
    right: 0;

    cursor: pointer;
    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.text-intend {
  p {
    text-indent: 30px;
  }
}
