// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  @include breakpoint($breakpoint-laptop--large) {
    font-size: $font-size__text--big - 2px;
  }

  color: $color-text__primary;

  font-size: $font-size__text--large;
  font-family: Roboto, sans-serif;

  line-height: $line-height--primary;
}

h1,
h2,
h3 {
  font-family: ArodoraPro, sans-serif;
}
