.form {
  &__info,
  &__policy {
    margin-bottom: 50px;
    text-align: center;
  }

  &__info {
    font-size: $font-size__text--regular;
  }

  &__policy {
    @include breakpoint($breakpoint-mobile--large) {
      br {
        display: none;
      }
    }

    margin-top: 30px;
    font-size: $font-size__text--small;
  }
}
