// Цветовая палитра блоков
$palette-white: #f3f3f3;
$palette-black: #1b1b1b;

// Цветовая палитра текста
$color-text__black: #1b1b1b;
$color-text__white: #f3f3f3;

$color-text__primary: $color-text__white;
