.slider-hero {
  .swiper-pagination {
    @include breakpoint($breakpoint-laptop--large) {
      top: 40px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      top: 18px;
      text-align: center;
    }

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }

    top: 60px;
    bottom: initial;

    text-align: right;
  }
}
