/* purgecss start ignore */

.swiper {
  overflow: visible;

  &-wrapper {
    width: initial;
  }

  &-pagination {
    &--static {
      position: static;
      margin-top: 50px;
    }

    &-bullet {
      border-radius: 0;

      background: rgba(#8d8d8d, 0.33);
      opacity: 1;

      transition: $transition ease;

      &-active {
        background: rgba(#8d8d8d, 1) !important;
      }
    }

    &--circle {
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;

        margin: 0 10px !important;
        border: 4px solid #8d8d8d;
        border-radius: 50%;

        background: transparent;
      }
    }

    &--rectangle {
      .swiper-pagination-bullet {
        width: 35px;
        height: 5px;

        margin: 0 8px !important;
        border-radius: 70px;
      }
    }
  }

  &--grid {
    .row {
      flex-wrap: nowrap;
    }
  }
}

/* purgecss end ignore */
