.scroll-top {
  @include breakpoint($breakpoint-tablet) {
    right: 36px;
  }

  position: fixed;
  z-index: 10;
  right: 40px;
  bottom: 125px;

  transition: $transition ease;

  @media (hover: hover) {
    &:hover .background {
      fill: $palette-white;
    }
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  path {
    transition: $transition ease;
  }
}
