@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: rotate(-17deg);
  }

  35% {
    transform: rotate(17deg);
  }

  55% {
    transform: rotate(-17deg);
  }

  65% {
    transform: rotate(17deg);
  }

  100% {
    transform: rotate(0);
  }
}

.widget {
  position: fixed;
  z-index: 10;
  right: 25px;
  bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: none;
  transition: $transition ease;

  &--open {
    z-index: 15;
    pointer-events: initial;

    .widget__link {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }
  }

  &__link {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: $transition ease;
  }

  &__icon {
    @include breakpoint($breakpoint-tablet) {
      width: 48px;
    }

    width: 50px;

    margin-bottom: 15px;

    opacity: 1;
    visibility: visible;

    cursor: pointer;
    transition: all 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }

    &--big {
      @include breakpoint($breakpoint-tablet) {
        width: 64px;
      }

      width: 70px;

      animation-name: jump-shaking;
      animation-duration: 2s;
      animation-delay: 3s;
      animation-iteration-count: infinite;
    }
  }
}
