.tippy-box[data-theme~="flat"] {
  z-index: 5;
  padding: 0;

  border-radius: 0;

  background-color: $palette-black;
  color: $color-text__white;

  font-size: $font-size__text--regular;

  filter: drop-shadow(0 0 1px rgba(#ffffff, 0.8));

  .tippy-content {
    padding: 15px;
  }

  .tippy-arrow {
    color: $palette-black;
  }
}
