.button {
  @include breakpoint($breakpoint-laptop--large) {
    padding: 18px 30px;
  }

  @include border(transparent);

  display: block;
  padding: 16px 35px;

  outline: none;

  background-color: transparent;
  color: $color-text__white;

  font-weight: $weight-Bold;
  font-size: $font-size__text--regular;

  line-height: $line-height--primary;
  text-align: center;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--large {
    @include breakpoint($breakpoint-laptop--large) {
      padding: 20px 40px;
    }

    padding: 25px 90px;
    text-transform: uppercase;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--download {
    display: flex;
    align-items: center;
  }
}
